<% title _("PrometheusApp - Maintainer &laquo;") + @maintainer.name + _("&raquo; - Gear") -%>
<% url "/packager/" + @maintainer.login + "/gear" -%>

<div class="header"><%= _("Maintainer:") %> <%= @maintainer.name %></div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>" class="news" title="<%= _("information about maintainer") %>"><%= _("Information") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/srpms" class="news" title="<%= _("packages which was built by this maintainer") %>"><%= _("Packages") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _("Gear") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/bugs" class="news" title="<%= _("Bugs/FR statistics assigned to this maintainer") %>"><%= _("Bugs and FR") %></a>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/repocop" class="news" title="<%= _("repocop bugreports") %>"><%= _("Repocop") %></a>&nbsp;</span><p class="break" />

<% if @gears.count != 0 -%>
<table style="pretty">
  <% @gears.each do |gear| -%>
    <tr>
      <td style="border-bottom: #aaa dotted 1px; padding-right:1em;">&middot;
        <% gear.login = 'php_coder' if gear.login == 'php-coder' -%>
        <%= link_to gear.package, 'http://git.altlinux.org/people/' + gear.login + '/packages/?p=' + gear.package + '.git', :class => 'news' %>
      </td>
      <td><%= gear.lastchange %></td>
    </tr>
  <% end -%>
</table>
<% end -%>

<%= render :partial => 'shared/fix' %>