<% title _("PrometheusApp - Maintainer &laquo;") + @maintainer.name + _("&raquo; - Packages") -%>
<% url "/packager/" + @maintainer.login + "/srpms" -%>

<div class="header"><%= _("Maintainer:") %> <%= @maintainer.name %></div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>" class="news" title="<%= _("information about maintainer") %>"><%= _("Information") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= _("Packages") %></b>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/gear" class="news" title="<%= _("gear") %>"><%= _("Gear") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/bugs" class="news" title="<%= _("Bugs/FR statistics assigned to this maintainer") %>"><%= _("Bugs and FR") %></a>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/packager/<%= @maintainer.login %>/repocop" class="news" title="<%= _("repocop bugreports") %>"><%= _("Repocop") %></a>&nbsp;</span><p class="break" />
<b><%= _("List of packages which was built by this maintainer:") %></b> [<%= @maintainer.sisyphus.count %>] <br /><br />

<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= _("repo<br/>cop") %></th>
    <th><%= _("package") %></th>
    <th><%= _("current<br />version") %></th>
    <th><%= _("build time") %></th>
    <th><%= _("age") %></th>
    <th><%= _("Url") %></th>
    <th><%= _("Summary") %></th>
  </tr>

  <% @maintainer.sisyphus.each do |acl| -%>
  <% if !acl.srpm.nil? -%>
  <tr>
    <td>
      <%= link_to '<img src="/images/' + acl.srpm.repocop + '.png" alt="' + acl.srpm.repocop + '" />', '/srpm/Sisyphus/' + acl.srpm.name + '/repocop', :class => 'repocoplink', :title => 'repocop'  %>
    </td>
    <td class="strange">
      <%= link_to acl.srpm.name, '/' + params[:locale] + '/srpm/Sisyphus/' + acl.srpm.name, :class => 'news' %>
    </td>
    <td><%= acl.srpm.version %>-<%= acl.srpm.release %></td>
    <td><%= acl.srpm.buildtime %></td>
    <td><%= time_ago_in_words(acl.srpm.buildtime) %> <%= _("ago") %></td>
    <td>
      <% if acl.srpm.url != nil %><%= link_to acl.srpm.url[0..27] + '...', acl.srpm.url, :class => 'news' %><% else %>-<% end %>
    </td>
    <td style="text-align:left;"><%= acl.srpm.summary %></td>
  </tr>
  <% end -%>
  <% end -%>

</table>

<%= render :partial => 'shared/fix' %>