<% title ("Prometheus 2.0 - Search") %>
<% url '' %>

<div class="header" style="letter-spacing:1px;"><%= ("Search") %></div>
<p class="break">
<form name="findonsite" action="/find.shtml" method="GET">
<input type="text" name="request" value="<%= params[:request] %>" size="20">
<input type="submit" class="top-go" id="subOn" value="<%= ("search") %>" onmouseover="m_on('subOn')"  onmouseout="m_off('subOn')">
</form>
<br /><br />
<%= ("On your query") %> &quot;<b><%= params[:request] %></b>&quot; <%= ("were found") %> <b><%= @srpms.count %></b> RPM:<%= @srpms.count %>

<p class="break"><br />
<table id="bugs" cellspacing="0" cellpadding="3">
<tr>
  <th><%= ("package") %></th>
  <th><%= ("current<br />version") %></th>
  <th><%= ("summary") %></th>
</tr>

<% @srpms.each do |srpm| -%>
<tr>
<td class="strange">
  <%= link_to srpm.name, '/srpm/Sisyphus/' + srpm.name, :class => 'news' %>
</td>
<td><%= srpm.version %>-<%= srpm.release %></td>
<td><%= srpm.summary %></td>
</tr>
<% end -%>

</table>

<%= render :partial => 'shared/fix' %>