<% title ("Prometheus 2.0 - Package ") + @srpm.name + (" - All bugs") -%>
<% url "/srpm/" + @srpm.branch + '/' + @srpm.name + "/allbugs" -%>

<div style="height:3em;"> 
    <div id="rpmtop">
        <b style="font-size:9pt;"><%= ("Group") %> :: <%= @srpm.group %></b><br />
        <div class="header" style="letter-spacing:1px;"><%= ("Source RPM:") %> <%= @srpm.name %></div>
    </div>
</div>
<div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>" class="news" title="<%= ("information about SRPM") %>"><%= ("Main") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/changelog" class="news" title="<%= ("full changelog") %>"><%= ("Changelog") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/spec" class="news" title="<%= ("spec") %>"><%= ("Spec") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/get" class="news" title="<%= ("download latest version") %>"><%= ("Download") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/gear" class="news" title="<%= ("this package in gear repositories") %>"><%= ("Gear") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="current">&nbsp;<b><%= ("Bugs and FR") %></b>&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/repocop" class="news" title="<%= ("repocop bugreports") %>"><%= ("Repocop") %></a>&nbsp;</span><p class="news" /><br />

<b><%= ("Total:") %></b> <%= @allbugs.count %> (<span style='color:red'><%= @bugs.count %></span>|<%= @allbugs.count - @bugs.count %>)

<div style="text-align:left;margin-left:2em;margin-top:1.5em;">
<span class="tabunsel">&nbsp;<%= link_to ("open"), '/' + params[:locale] + '/srpm/' + @srpm.branch + '/' + @srpm.name + '/bugs', :class => 'news' %>&nbsp;</span>
<span class="tabsel">&nbsp;<%= ("total") %>&nbsp;</span>
</div>

<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= ("id") %></th>
    <th><%= ("severity") %></th>
    <th><%= ("status") %></th>
    <th><%= ("resolution") %></th>
    <th><%= ("reporter") %></th>
    <th><%= ("summary") %></th>
  </tr>

  <% @allbugs.each do |bug| -%>
  <tr>
    <td><%= link_to bug.bug_id, 'https://bugzilla.altlinux.org/' + bug.bug_id.to_s, :class => 'news', :target => '_blank' %></td>
    <td><%= bug.bug_severity %></td>
    <td><%= bug.bug_status %></td>
    <td><%= bug.resolution %></td>
    <td><%= bug.reporter.gsub('@', ' at ') %></td>
    <td style="text-align:left">
      <%= bug.short_desc %>
    </td>
  </tr>
  <% end -%>

</table>
