<% title ("Prometheus 2.0 - Package ") + @srpm.name + (" - Repocop") -%>
<% url "/srpm/" + @srpm.branch + '/' + @srpm.name + "/repocop" -%>

<div style="height:3em;">
    <div id="rpmtop">
        <b style="font-size:9pt;"><%= ("Group") %> :: <%= @srpm.group %></b><br />
        <div class="header" style="letter-spacing:1px;"><%= ("Source RPM:") %> <%= @srpm.name %></div>
    </div>
</div>
<div>
<p class="break" />
<span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>" class="news" title="<%= ("information about SRPM") %>"><%= ("Main") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/changelog" class="news" title="<%= ("full changelog") %>"><%= ("Changelog") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/spec" class="news" title="<%= ("spec") %>"><%= ("Spec") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/get" class="news" title="<%= ("download latest version") %>"><%= ("Download") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/gear" class="news" title="<%= ("this package in gear repositories") %>"><%= ("Gear") %></a>&nbsp;</span><span class="underl">&nbsp;</span><span class="vkladka">&nbsp;<a href="/<%= params[:locale] %>/srpm/<%= @srpm.branch %>/<%= @srpm.name %>/bugs" class="news" title="<%= ("list of bugs and feature requests") %>"><%= ("Bugs and FR") %></a>&nbsp;</span><span class="current">&nbsp;<b><%= ("Repocop") %></b>&nbsp;</span><p class="news" /><br />

</div>
<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= ("package id") %></th>
    <th><%= ("status") %></th>
    <th><%= ("test") %></th>
    <th><%= ("message") %></th>
  </tr>

<% @srpm.repocops.each do |repocop| -%>
  <% if repocop.status != 'skip' -%>
  <tr>
    <td><%= repocop.name %>-<%= repocop.version %>-<%= repocop.release %>.<%= repocop.arch %></td>
    <td><%= image_tag(repocop.status + '.png', :size => "20x20") %><br/><%= repocop.status %></td>
    <td><%= repocop.testname %></td>
    <td style="text-align:left">
      <% if repocop.message != '' %><%= repocop.message %><% else %>&nbsp;<% end %>
    </td>
  </tr>
  <% end -%>
<% end -%>

</table>
