<% title ("Prometheus 2.0 - Team &laquo;") + @team.login[1..-1] + ("&raquo;") -%>
<% url "/team/" + @team.login[1..-1] -%>

<div class="header"><%= ("Team:") %> <%= @team.name %></div>
<p class="break" />
<b><%= ("Information:") %></b> <div class="para">  </div>
<p class="break" />
<% if @leader != nil -%>
<b><%= ("Team leader:") %></b> <% @leader.each do |leader| -%><%= link_to leader.name, '/' + params[:locale] + '/packager/' + leader.login, :class => 'news', :title => ('information about the packager') -%><% end -%>
<p class="break" />
<% end %>
<b><%= ("Team members:") %></b>
<ul>
<% @members.each do |member| -%>
  <li><%= link_to member.name, '/' + params[:locale] + '/packager/' + member.login, :class => 'news', :title => ('information about the packager') -%></li>
<% end -%>
</ul>

<p class="break" />

<b><%= ("List of packages:") %></b> [ <%= @acls.count %> ]<br /><br />

<table id="bugs" cellspacing="0" cellpadding="3">
  <tr>
    <th><%= ("repo<br/>cop") %></th>
    <th><%= ("package") %></th>
    <th><%= ("current<br />version") %></th>
    <th><%= ("build time") %></th>
    <th><%= ("age") %></th>
    <th><%= ("Url") %></th>
    <th><%= ("Summary") %></th>
  </tr>

  <% @acls.each do |acl| -%>
    <% if !acl.srpm.nil? -%>
      <tr>
        <td>
          <%= link_to '<img src="/images/' + acl.srpm.repocop + '.png" alt="' + acl.srpm.repocop + '" />', '/' + params[:locale] + '/srpm/Sisyphus/' + acl.srpm.name + '/repocop', :class => 'repocoplink', :title => 'repocop'  %>
        </td>
        <td class="strange">
          <%= link_to acl.srpm.name, '/' + params[:locale] + '/srpm/Sisyphus/' + acl.srpm.name, :class => 'news', :title => ('detailed information about RPM') %>
        </td>
        <td><%= acl.srpm.version %>-<%= acl.srpm.release %></td>
        <td><%= acl.srpm.buildtime %></td>
        <td><%= time_ago_in_words(acl.srpm.buildtime) %> <%= ("ago") %></td>
        <td>
          <% if acl.srpm.url != nil %><%= link_to acl.srpm.url[0..27] + '...', acl.srpm.url, :class => 'news' %><% else %>-<% end %>
        </td>
        <td style="text-align:left;"><%= acl.srpm.summary %></td>
      </tr>
    <% end -%>
  <% end -%>

</table>

<%= render :partial => 'shared/fix' %>